<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <title>DITARMEX</title>
</head>

<body>
    <header>
        <div class="divLogo">
            <img class="logo" src="/img/logo.png" alt="">
        </div>
        <nav class="headerNavBar">
            <ul class="list1Header">
                <li class="list1Item"> <a href="/iluminacion">CONSTRUCCIÓN</a></li>
                <li class="list1Item"> <a href="/videovigilancia">SEGURIDAD ELECTRÓNICA</a></li>
                <li class="list1Item"> <a href="/audioyvideo">AUDIO Y VIDEO</a></li>
                <li class="list1Item"> <a href="/iluminacion">ILUMINACIÓN</a></li>
                <li class="list1Item"> <a href="/iluminacion">INTERNET</a></li>
            </ul>
        </nav>
        <nav class="headerNavBar2">
            <ul class="list2Header">
                <li class="list2Item"> <a href="/iluminacion"><i class="fa-solid fa-message"></i></a></li>
                <li class="list2Item"> <a href="/iluminacion"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="list2Item"> <a href="/iluminacion">¿Quiénes somos?</a></li>
            </ul>
        </nav>
    </header>

    <hr class="hrHeader">

    <main>

        <div class="imgBanner">
            <img class="img1" src="/img/smartHome.png" alt="imagen home">
        </div>

        <section class="section1">

            <article class="art2">
                <div class="imgService">
                    <img class="imgbase" src="/img/smartHome.png" alt="imagen home">
                </div>
            </article>
            <article class="art3">
                <div class="imgService">
                    <img class="imgbase" src="/img/smartHome.png" alt="imagen home">
                </div>
            </article>
            <article class="art4">
                <div class="imgService">
                    <img class="imgbase" src="/img/smartHome.png" alt="imagen home">
                </div>
            </article>
            <article class="art5">
                <div class="imgService">
                    <img class="imgbase" src="/img/smartHome.png" alt="imagen home">
                </div>
            </article>

        </section>

    </main>

    <hr class="hrFooter">

    <footer>
        <section class="sectionFooter">
            <nav class="headerNavBar">
                <ul class="list1Footer">
                    <li><a href="/extras">EMPRESA</a></li>
                    <li><a href="/extras">BOLSA DE TRABAJO</a></li>
                    <li><a href="/extras">AVISO LEGAL Y PRIVACIDAD</a></li>
                    <li><a href="/extras">CONFIGURACIÓN DE COOKIES</a></li>
                    <li><a href="/extras">MAPA DEL SITIO</a></li>
                    <li><a href="/extras">NEWLESTER</a></li>
                </ul>
            </nav>
            <nav class="headerNavBar2">
                <ul class="list2Footer">
                    <li><a href="/socialMedia"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="/socialMedia"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="/socialMedia"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="/socialMedia"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="/socialMedia"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="/socialMedia"><i class="far fa-comments"></i></a></li>
                </ul>
            </nav>
        </section>

        <section class="footerSection2">
            <p>
                Los valores de consumos y emisiones presentes en el sitio web se refieren a su IP geográfica. Dicho
                valor
                podría diferir de la realidad si navega a través de una VPN o si la ubicación de su proveedor de
                Internet no
                es exacta. Si cree que no está geolocalizado correctamente, contacte con su concesionario de referencia
                para
                obtener información válida en su territorio sobre consumos y emisiones.
            </p>

            <p class="footerP2">
                Copyright © 2021 Sports Car Dealers es una sociedad unipersonal de Grupo 7 Digital House.

                Todos los derechos reservados. Núm. IVA IT xxxxxxxxxx</p>
        </section>
    </footer>

</body>

</html>