<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Devi</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="/img/smartHome.jpg" alt="">
        </div>
        <nav class="mainNavBar">
            <ul class="list1">
                <li> <a href="/iluminacion">CONSTRUCCIÓN</a></li>
                <li> <a href="/audioyvideo">AUDIO Y VIDEO</a></li>
                <li> <a href="/videovigilancia">SEGURIDAD ELECTRÓNICA</a></li>
                <li> <a href="/iluminacion">ILUMINACIÓN</a></li>
                <li> <a href="/iluminacion">INTERNET</a></li>
            </ul>
        </nav>
        <nav class="secondNavBar">
            <ul class="list2">
                <li> <a href="/iluminacion">¿Quiénes somos?</a></li>
            </ul>
        </nav>
    </header>
    <h1>
        Este es un H1
    </h1>
</body>

</html>