<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <title>Devi</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="/img/logo.png" alt="">
        </div>
        <nav class="mainNavBar">
            <ul class="list1">
                <li> <a href="/iluminacion">CONSTRUCCIÓN</a></li>
                <li> <a href="/audioyvideo">AUDIO Y VIDEO</a></li>
                <li> <a href="/videovigilancia">SEGURIDAD ELECTRÓNICA</a></li>
                <li> <a href="/iluminacion">ILUMINACIÓN</a></li>
                <li> <a href="/iluminacion">INTERNET</a></li>
            </ul>
        </nav>
        <nav class="secondNavBar">
            <ul class="list2">
                <li> <a href="/iluminacion"><i class="fa-solid fa-message"></i></a></li>
                <li> <a href="/iluminacion"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li> <a href="/iluminacion">¿Quiénes somos?</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <section>
        <article>
            <div class="imgTop">
                <img class="img1" src="/img/smartHome.png" alt="imagen home">
            </div>
        </article>
    </section>
</body>

</html>