<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/pruebas.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <article class="article1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti voluptates eligendi maxime, odio at
                repellendus aperiam quam, eum laborum, dolor consectetur quas officiis repellat architecto corporis
                minima? Cupiditate, maiores ullam!</p>
        </article>

        <article class="article2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam tenetur vel quaerat
                repellat eius! Quas, voluptatem. Accusamus nostrum ullam culpa recusandae, pariatur dolore laboriosam
                accusantium ad, harum at natus.</p>
        </article>
    </section>
</body>

</html>