<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Nosotros somos Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis soluta perspiciatis explicabo
        adipisci, odit libero, excepturi accusamus dignissimos laborum voluptatem maxime, sunt dicta? Ea in id officia
        est nisi accusamus!</p>
</body>

</html>