<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/styleLogin.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>

<body>
    <header>
        <section class="sectionHeader">
            <article class="articleHeader">
                <div class="divLogo">
                    <a class="aLogo" href="/"><img class="logo" src="/img/logo3.png" alt=""></a>
                </div>
                <h1>Diseño, Tecnología y Arquitectura de méxico</h1>
            </article>
            <hr>
            <article class="articleNav">
                <nav class="headerNavBar">
                    <ul class="list1Header">
                        <li class="list1Item"> <a href="/">INICIO</a></li>
                        <li class="list1Item"> <a href="/servicios/construccion">CONSTRUCCIÓN</a></li>
                        <li class="list1Item"> <a href="/servicios/seguridadelectronica">SEGURIDAD ELECTRÓNICA</a></li>
                        <li class="list1Item"> <a href="/servicios/audioyvideo">AUDIO Y VIDEO</a></li>
                        <li class="list1Item"> <a href="/servicios/iluminacion">ILUMINACIÓN</a></li>
                        <li class="list1Item"> <a href="/servicios/internet">INTERNET</a></li>
                    </ul>
                </nav>
                <nav class="headerNavBar2">
                    <ul class="list2Header">
                        <li class="list2Item"> <a href="/contacto"><i class="fa-solid fa-message"></i></a></li>
                        <li class="list2Item"> <a href="/busqueda"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="list2Item"> <a href="/quienessomos">¿Quiénes somos?</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>


    <section class="sectionForm">
        <article class="formLeft">
            <form action="/users/login" method="POST" class="formLogin">
                <div class="formContent">
                    <h2>Regístrate</h2>

                    <div class="user">
                        <input class="barra" type="text" name="nombreDeUsurio" placeholder="Usuario">
                    </div>

                    <div class="password">
                        <input class="barra" type="password" name="contrasena" placeholder="Contraseña">
                    </div>

                    <div class="links">
                        <a class="reestablecerContrasena" href="/users/reestabletucontrasena">¿Olvidaste tu
                            contraseña?</a>
                        <a class="signup" href="/users/signup">Regístrate</a>
                    </div>

                    <div class="divBoton">
                        <button class="boton" type="submit"><a class="textBoton" href="/">Ingresar</a></button>
                    </div>
                </div>
            </form>

        </article>

    </section>

</body>

</html>