body {
    background-color: salmon;
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10vh;
    background-color: red;
    display: flex;
}

.article1 {

    border: 2px solid black;
    padding: 0px;
}

p {
    background-color: rgba(0, 0, 0, .2);
    margin: 0px;
}

.article2 {
    border: 2px dotted black;
}