* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
}

.articleHeader {
    display: flex;
    border: 2px red solid;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 24px;
    color: rgb(0, 175, 239);
    /* margin-right: 10%; */

}