/* Esta hoja de estilos es otra versión del header y también para las páginas como login */

* {
    /* Se quita el márgen y padding que pudiera traer por defecto el body */
    /* El border box nos sirve para que los contenedores no vayan incrementando
    sus dimensiones con propiedades como el padding o border*/
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* Le damos al body el ancho total del vw hasta un máximo valor absoluto */
    background-color: white;
    font-family: 'Segoe UI';
}


header {
    width: 100%;
    display: flex;
    /* Tenemos 3 items en el header por lo que aplicamos la propiedad flex
    para que estos se coloquen uno al lado del otro */
    justify-content: space-around;
    /* El espacio entre los 3 ítems a lo largo del main axis estos va a ser el mismo
    sin importar los márgenes */
    align-items: center;
    /* En el cross axis en la magnitud total, los ítems van a colocarse al medio*/
    background-color: rgb(255, 255, 255);

}




.logo {
    display: block;
    width: 75%;
    /* El logo toma el valor en porcentaje de su contenedor DIV, el caul comparte magnitud con 3 elementos más */
    padding: 1vw;
    margin-left: 5%;
}


.hrHeader {
    width: 95%;
    margin: auto;
    color: rgb(93, 93, 93);
    height: .1px;
    background-color: rgb(93, 93, 93);
}

body header nav ul {
    display: flex;
}

a {
    text-decoration: none;
    /* Se le quita al ENLACE el subrayado */
    color: rgb(26, 207, 223);
    font-weight: 550;
    /* Le quitamos el color a los enlaces */
    font-size: 13px;
}


.list1Header {
    display: flex;
    /* Debido a que todos los items dentro del contenedor list1 son listas
    están en dirección del cross axis, estos al aplicarle flex al contenedor
    padre, estos se alinean entorno al main axis */
    align-items: center;
    /* Se centran los items en su contenedor li */
}

li {

    margin: .5vw;
    border-radius: 5px;
    /* Se le pone un border-radius para que no sea un rectángulo filoso */
    text-align: center;
    /* Se centra al texto en contenedor*/
    list-style: none;
    border: rgb(26, 207, 223) 2px solid;

    /* background-color: rgba(93, 93, 93, .8); */
}

.list1Item,
.list2Item {
    padding: .25vw;
}

.list2Header {
    align-items: center;
}

.img1 {
    display: block;
    width: 50%;
    margin: auto;
    padding: 0 0 3% 0;
}

body main .section1 {
    display: flex;
    justify-content: space-between;
}

.imgbase {
    width: 100%;
}

.hrFooter {
    width: 95%;
    margin: auto;
    color: rgb(93, 93, 93);
    height: 3px;
    background-color: rgb(93, 93, 93);
    margin-top: 2%;
    margin-bottom: 2%;
}


.footerNavBar {
    display: flex;
}

.sectionFooter {
    display: flex;
    justify-content: space-around;
    margin: 0 0 2% 0;
}

footer section ul {
    display: flex;
}

footer section ul a {
    font-size: 16px;
}

.footerSection2 {
    font-weight: bold;
    font-size: 14px;
    padding: 2%;
}

.footerP2 {
    padding-top: 2%;
}

footer li {
    margin: .5vw;
    padding: .25vw;
    border: rgb(26, 207, 223) 2px solid;
    /* background-color: rgba(93, 93, 93, .8); */
    text-decoration: underline;
    border-radius: 5px;
}