* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

.articleHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    padding-top: 4%;
}

h1 {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 24px;
    color: rgb(0, 175, 239);
    padding-top: .5%;

}

hr {
    width: 95%;
    margin-top: 20px;
    color: rgb(93, 93, 93);
    height: 1px;
    background-color: rgb(93, 93, 93);
}

.articleNav {
    display: flex;
    justify-content: space-around;
}

.headerNavBar {
    align-items: flex-start;
}

li {
    list-style: none;
    padding: none;
    /* Acá vemos la importancia de utilizar alguna magnitud relativa no
        dependiente del padre, porque el padre de los 2 gurpos de li son diferentes
        entonces si usamos porcentajes para poner un padding, ambos paddings serán diferentes */

}

.list1Header,
.list2Header {
    font-size: 1rem;
    display: flex;
    padding-left: 0px;
    /* No sé porqué me aparece acá un padding a la izquierda que no quiero */
}

.list1Item,
.list2Item {
    padding: 1rem;
    padding-top: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 175, 239);
}

.sectionForm {
    display: flex;
    margin-top: 1%;
}

.formLeft {
    width: 100%;
    height: 45vh;
    padding-left: 15%;
    padding-top: 0px;
    margin-top: 0px;

}

.formRight {
    width: 100%;
    height: 45vh;
    padding-right: 15%;
}

h2 {
    padding: 0px;
    padding-top: 7%;
    text-align: center;
    font-weight: 500;
    color: white;

}

body section form {

    height: 100%;
    background-color: rgb(20, 66, 121);
    background: linear-gradient(180deg, rgba(20, 66, 121, 1) 0%, rgba(0, 175, 239, 1) 100%);
    border-radius: 7.5%;
    box-shadow: -10px 10px 10px 5px rgb(13, 41, 75);
    border: 2px red solid;

}

.nextForm {
    height: 100%;
}

.imgForm {
    display: block;
    height: 50%;
    margin: auto;
}

.user {

    text-align: center;
    padding-top: 3%;
}

.barra {
    border-radius: 5%;
    width: 45%;
}

.password {
    border-radius: 5%;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}